@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --light-body-background: #f6f8ff;
  --light-header-title-color: #222731;
  --light-header-mode-color: #697c9a;
  --light-username-color: #2b3442;
  --light-user-join-color: #697c9a;
  --light-user-bio-color: #4b6a9b;
  --light-user-followers-background: #f6f8ff;
  --light-input-background: #fefefe;

  --dark-body-background: #141d2f;
  --dark-header-title-color: #fff;
  --dark-header-mode-color: #fff;
  --dark-username-color: #fff;
  --dark-user-join-color: #fff;
  --dark-user-bio-color: #fff;
  --dark-user-followers-background: #141d2f;
  --dark-input-background: #1e2a47;

  --search-button-background: #0079ff;
  --search-button-hover-background: #60abff;
  --white: #fff;
  --no-result: #f74646;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-body-background);
}

.container {
  width: 100%;
}

.header-component-header {
  width: 730px;

  display: flex;
  flex-direction: column;
}

.title-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-mode h1 {
  font-size: 2em;
  font-weight: 700;
  color: var(--light-header-title-color);
}

.mode-component {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-component span {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--light-header-mode-color);
}

.mode-component img {
  margin-left: 16px;
}

.inputField {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--light-input-background);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.inputField span {
  position: absolute;
  right: 25%;
  top: 50%; /* Adjust this value to vertically center the span */
  transform: translateY(-50%);
  color: var(--no-result);
  font-weight: 700;
  display: none;
}

.error-message {
  display: block !important;
  /* z-index: 4; */
}

.errorInput {
  animation: vibration 0.2s ease;
}

@keyframes vibration {
  0% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.inputField input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 57px;
  border: none;
  left: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  z-index: 1;
  color: var(--light-header-title-color);
  transition: all 0.2s ease;
}

.inputField input:focus {
  border: 2px solid var(--search-button-hover-background);
}

.inputField button {
  width: 106px;
  height: 50px;
  margin-left: 10px; /* Add some margin between input and button */
  color: var(--white);
  border-radius: 10px;
  border: none;
  background-color: var(--search-button-background);
  cursor: pointer;
  transition: all 0.1s ease;
  font-size: 16px;
  font-weight: 700;
  z-index: 2;
}

.inputField button:hover {
  background-color: var(--search-button-hover-background);
}
.user-board {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 48px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  background-color: var(--light-input-background);
}

.image-section {
  display: flex;
  align-items: center;
}

.image-section img {
  border-radius: 100%;
  width: 117px;
  height: 117px;
}

.user-section-middle,
.user-section-footer {
 width: 100%;
  margin-left: 37px;
  margin-right: 37px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 37px;
}

.user-section-header {
  margin: 10px 37px 20px;
  display: flex;
  flex-direction: column;
}

.user-section-left {
  display: flex;
  justify-content: space-between;
}

.name-username h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--light-username-color);
}

.name-username a {
  color: var(--search-button-background);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}

.user-section-left h3 {
  color: var(--light-user-join-color);
  font-size: 15px;
  font-weight: 400;
  padding-top: 10px;
}

.user-section-header p {
  margin-top: 20px;
  color: var(--light-user-bio-color);
  opacity: 0.75;
  font-size: 15px;
  font-weight: 400;
}

.user-section-middle {
  border-radius: 10px;
  background-color: var(--light-user-followers-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 32px;
  margin-right: 20px;
}

.repo,
.followers,
.following {
  color: var(--light-user-bio-color);
  font-size: 13px;
  font-weight: 400;
}

.repo h3,
.followers h3,
.following h3 {
  color: var(--light-username-color);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-section-footer {
  display: grid;
  flex-wrap: wrap;
  margin-bottom: 0;
  gap: 10px;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: 2em 2em;
}

.location,
.social,
.link,
.company {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light-user-bio-color);
  font-size: 15px;
  font-weight: 400;
}

.link a {
  text-decoration: none;
}

body.dark {
  background-color: var(--dark-body-background);
}

.title-mode h1.dark {
  color: var(--dark-header-title-color);
}

.mode-component.dark span {
  color: var(--dark-header-mode-color);
}

.inputField.dark {
  background-color: var(--dark-input-background);
}

.inputField.dark input,
.inputField.dark input::placeholder {
  color: var(--dark-header-title-color);
}

.user-board.dark {
  background-color: var(--dark-input-background);
}

.user-section-middle.dark {
  background-color: var(--dark-body-background);
}

.user-section-header.dark .user-section-left .name-username h2,
.user-section-middle.dark .repo,
.user-section-middle.dark .followers,
.user-section-middle.dark .following,
.user-section-middle.dark .repo h3,
.user-section-middle.dark .followers h3,
.user-section-middle.dark .following h3,
.user-section-header.dark p {
  color: var(--dark-header-title-color);
}

.user-section-header.dark p {
  color: var(--dark-user-bio-color);
}

.user-section-footer.dark .location,
.user-section-footer.dark .social,
.user-section-footer.dark .link,
.user-section-footer.dark .link a,
.user-section-footer.dark .company {
  color: var(--dark-header-title-color);
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputField input {
    font-size: 13px;
    padding-left: 48px;
  }

  .header-component-header,
  .user-board {
    max-width: 60%;
  }

  .image-section {
    flex-direction: column;
  }

  .user-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-section-left {
    flex-direction: column;
  }

  .user-section-middle, .user-section-footer {
    margin: 0;
    margin-top: 20px;
  }

  .name-username h2 {
    font-size: 18px;
  }

  .inputField span {
    right: 130px;
    font-size: 13px;
    z-index: 5;
    color: #f74646;
  }

  .inputField img {
    width: 20px;
  }
}
