@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --light-body-background: #f6f8ff;
  --light-header-title-color: #222731;
  --light-header-mode-color: #697c9a;
  --light-username-color: #2b3442;
  --light-user-join-color: #697c9a;
  --light-user-bio-color: #4b6a9b;
  --light-user-followers-background: #f6f8ff;
  --light-input-background: #fefefe;

  --dark-body-background: #141d2f;
  --dark-header-title-color: #fff;
  --dark-header-mode-color: #fff;
  --dark-username-color: #fff;
  --dark-user-join-color: #fff;
  --dark-user-bio-color: #fff;
  --dark-user-followers-background: #141d2f;

  --search-button-background: #0079ff;
  --search-button-hover-background: #60abff;
  --white: #fff;
  --no-result: #f74646;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  background-color: var(--light-body-background);
}

.board {
  width: 730px;
}

.title-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-mode h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--light-header-title-color);
}

.mode-component {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-component span {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--light-header-mode-color);
}

.mode-component img {
  margin-left: 16px;
}

#inputField {
  margin-top: 20px;
  position: relative;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--light-input-background);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

#inputField input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 60px;
  left: 0;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  z-index: 0;
  border: none;
  color: var(--light-header-title-color);
  transition: all 0.2s ease;
}

#inputField input:focus {
  border: 2px solid var(--search-button-hover-background);
}

#inputField button {
  width: 106px;
  height: 50px;
  color: var(--white);
  border-radius: 10px;
  border: none;
  background-color: var(--search-button-background);
  cursor: pointer;
  transition: all 0.1s ease;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
}

#inputField button:hover {
  background-color: var(--search-button-hover-background);
}

.user-board {
  display: flex;
  margin-top: 24px;
  padding: 48px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  background-color: var(--light-input-background);
}

.image-section img {
  width: 117px;
  height: 117px;
}

.user-section-middle,
.user-section-footer {
  margin-left: 37px;
  display: flex;
  margin-bottom: 37px;
}

.user-section-header {
  margin-left: 37px;
  margin-bottom: 37px;
}

.user-section-left {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.name-username h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--light-username-color);
}

.name-username a {
  color: var(--search-button-background);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}

.user-section-left h3 {
  color: var(--light-user-join-color);
  font-size: 15px;
  font-weight: 400;
}


.user-section-header p {
  margin-top: 20px;
  color: var(--light-user-bio-color); 
  opacity: 0.75;
  font-size: 15px;
  font-weight: 400;
}


.user-section-middle {
  width: 100%;
  border-radius: 10px;
  background: var(--light-user-followers-background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 17px 32px;
}

.repo, .followers,.following {
  color: var(--light-user-bio-color);
  font-family: Space Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.repo h3, .followers h3, .following h3 {
  color: var(--light-username-color);
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.user-section-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: 3em 2em ;
}

.location, .social, .link, .company {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light-user-bio-color);
  font-size: 15px;
  font-weight: 400;
}
